@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kaushan+Script&display=swap');

h1 {
    font-family: 'Itim', cursive;
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    color: rgb(172, 14, 14);
    text-align: center;
    padding-top: 15px;
    text-shadow: -2px 0px white;
}

body {
    background-color: rgb(231, 197, 154);
    background-image: url("texture.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Itim', cursive;
    font-family: 'Kaushan Script', cursive;
    color: white;
    font-size: 30px;
}

ul {
    list-style: none;
    text-shadow: -2px 0px black;
}

button {
    padding: 20px;
    border: none;
    background-color: brown;
    color:rgb(231, 197, 154);
    box-shadow: 0 1px 3px black;
    font-size: 20px;
    font-family: 'Itim', cursive;
    font-family: 'Kaushan Script', cursive;
}

input:focus,textarea:focus {
    border-bottom: 4px solid brown;
}

.pile {
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 6;
    /* justify-content: center; */
    width: 100%;
    margin: 20px;
    padding: 20px;
    font-size: 18px;
}