@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kaushan+Script&display=swap');

body {
    background-color: rgb(231, 197, 154);
    background-image: url("texture.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}

h1 {
    font-family: 'Itim', cursive;
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    color: rgb(172, 14, 14);
    text-align: center;
    padding-top: 15px;
    text-shadow: -2px 0px white;
}
.item-input {
    list-style: none;
}